$background-main: linear-gradient(90deg,rgb(31, 33, 34) 0%, rgb(45, 54, 49) 50%, rgba(23, 22, 12, 1) 100%);
$header-fon: #0d121c;
$btn-color: #417e38;
$shadow-color: #062c50;
$menu-color: #94dce6;
$menuBtn-color: #2d5726;

$fontSize: clamp(12px, 1vw, 24px);