@use '../assets/colors' as colors;
@use '../assets/effects' as effects;

body {
    background: colors.$background-main;
    font-size: colors.$fontSize;

}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #0d121c;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;

    &__menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        padding: 0.5rem 0;
    }

    &__item {
        width: 20vw;
        text-align: center;
        color: colors.$menu-color;
        background-color: colors.$menuBtn-color;
        padding: 0.5rem;
        border-radius: 15px;
        box-shadow:
            6px 4px 6px colors.$shadow-color,
            6px 4px 6px colors.$shadow-color;
        transition: box-shadow 0.3s ease;

    }

    &__item_active {
        background-color: effects.$btnActive;
    }
}

.main {
    flex: 1;
}

.animate {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: colors.$header-fon;
}

.footer {
    background-color: #0d121c;
    padding: 0.5rem 0;

    &__about {
        display: flex;
        justify-content: space-around;
        align-items: center
    }

    &__contacts {
        display: flex;
        gap: 2vw
    }

    &__githubLink {
        display: flex;
        align-items: center;
        gap: 2vw
    }
}

/* Переход для плавного появления/исчезновения */
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
  }
  .fade-enter-from, .fade-leave-to {
    opacity: 0;
  }
  .fade-enter-to, .fade-leave-from {
    opacity: 1;
  }